apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ registry_name }}-pvc
  namespace: {{ registry_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ registry_storage_class_name }}
  resources:
    requests:
      storage: {{ registry_pvc_size }}
