apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config-ini
  namespace: {{ monitoring_namespace }}
data:
  grafana.ini: |
    [paths]
    provisioning = /etc/grafana/provisioning

    [server]
    enable_gzip = true

    [users]
    default_theme = dark

    [log]
    level = info
