apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config-ini
  namespace: {{ monitoring_namespace }}
data:
  grafana.ini: |
    [paths]
    provisioning = /etc/grafana/provisioning

    [server]
    enable_gzip = true

    [analytics]
    reporting_enabled = false
    check_for_updates = false
    check_for_plugin_updates = false

    [plugins]
    plugin_admin_enabled = false
    preinstall_disabled = true
    preinstall_auto_update = false

    [auth.anonymous]
    enabled = false

    [users]
    default_theme = dark

    [log]
    level = info
