apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-pvc
  namespace: {{ monitoring_namespace }}
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: {{ storage_class_name }}
  resources:
    requests:
      storage: 1Gi
