[Journal]
Storage={{ common_journald_storage }}
SystemMaxUse={{ common_journald_system_max_use }}
RuntimeMaxUse={{ common_journald_runtime_max_use }}
SystemMaxFileSize={{ common_journald_system_max_file_size }}
RuntimeMaxFileSize={{ common_journald_runtime_max_file_size }}
MaxFileSec={{ common_journald_max_file_sec }}
MaxRetentionSec={{ common_journald_max_retention_sec }}
